<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bundle.Microsoft.Office.Interop" version="15.0.4569" targetFramework="net40" />
  <package id="Interop.Microsoft.Office.Interop.OneNote" version="1.1.0.0" targetFramework="net40" />
  <package id="Interop.Microsoft.Office.Interop.Publisher" version="2.2.0.0" targetFramework="net40" />
  <package id="Microsoft.Office.Excel" version="14.0.4760.1000" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net40" />
  <package id="Ns.Microsoft.Office.Interop.All" version="15.0.0.2" targetFramework="net40" />
  <package id="Office_Core.STW" version="12.0.4518.1014" targetFramework="net40" />
</packages>